<!DOCTYPE html>
<html>
<head>
  <title>My First View!!</title>
</head>
<body>
<h1>Sinatra Views: Using ERB</h1>
<p>Practicing substitution tags.</p>
<h1><%= "I love " + "Ruby!!" %></h1>
<p><%= 1 + 1 %> </p>
<h2>Testing Functions</h2>
<% if 1 == 2 %>
  <p>1 equals 2.</p>
<% else %>
  <p>1 does not equal 2.</p>
<% end %>
<h2>Testing Iterations</h2>
<ul>
  <% squares = [1, 4, 9, 16] %>
  <% squares.each do |square| %>
    <li><%= square %></li>
  <% end %>
</ul>
<h2>Testing Facebook Example</h2>
<% wall_posts = ["First post!", "Second post!", "Hello, it's your mother. Why don't you ever call me?","Wow, this is great!"] %>
<ul>
  <% wall_posts.each do |post| %>
    <li><%= post %></li>
  <% end %>
</ul>
</body>
</html>